<div class='topics-stats-title'>
  <h2>{{stats.topic_title}}</h2> {{stats-arrows total=stats.topic_total}}
</div>

{{#if chart}}
  {{stats-topics-chart data=stats.topic_data}}
{{else}}
  {{stats-no-chart}}
{{/if}}

<ul class="topics-categories">
  {{#each cats as |cat|}}
    <li>
      <a class="badge-wrapper bullet" href= {{cat.url}}>
        <span class="badge-category-bg" style= {{cat.style}}></span>
        <span class="badge-category clear-badge">{{cat.name}}
      </span>
      </a>
    </li>
  {{/each}}
</ul>
