<div class='visits-stats-title'>
  <h2>{{stats.visit_title}}</h2>
  {{stats-arrows total=stats.visit_total}}
</div>
{{#if chart}}
  {{stats-visits-chart data=stats.visit_data}}
{{else}}
  {{stats-no-chart}}
{{/if}}
