<div class='users-stats-title'>
  <h2>{{stats.user_title}}</h2>
  {{stats-arrows total=stats.user_total}}
</div>
<div class="chart-stats">
{{#if chart}}
  {{stats-users-chart data=stats.user_data}}
{{else}}
  {{stats-no-chart}}
{{/if}}
</div>
