<div class='topics-stats-title'>
  <h1>{{stats.topic_title}}</h1>
</div>

{{stats-arrows total=stats.topic_total}}

<div class='topics-stats-time'>
  <p>{{stats.time}}</p>
</div>

<div class="forD3-topics"></div>


<ul class="topics-categories">
  {{#each cats}}
  <li>
    <a class="badge-wrapper bullet" href={{this.url}}>
      <span class="badge-category-bg" style={{this.style}}></span>
      <span class="badge-category clear-badge">{{this.name}}
      </span>
    </a>
  </li>
  {{/each}}
</ul>
