<div class='posts-stats-title'>
  <h2>{{stats.post_title}}</h2>
  {{stats-arrows total=stats.post_total}}
</div>

<ul class="topics">
  {{#each stats.top_topics as |topic|}}
  <li>
    <h1>{{topic.title}}</h1>
    <p>{{topic.posts_count}}</p>
  </li>
  {{else}}
    {{stats-no-chart}}
  {{/each}}
</ul>
