<div class='users-stats-title'>
  <h1>{{stats.user_title}}</h1>
</div>

{{stats-arrows total=stats.user_total}}

{{#if chart}}
  {{stats-users-chart data=stats.user_data}}
{{else}}
  {{stats-no-chart}}
{{/if}}
