<div class='visits-stats-title'>
  <h1>{{stats.visit_title}}</h1>
</div>

{{stats-arrows total=stats.visit_total}}

{{#if chart}}
  {{stats-visits-chart data=stats.visit_data}}
{{else}}
  {{stats-no-chart}}
{{/if}}
